<ion-view view-title="Sign In">
    <!-- hide-nav-bar="true"-->

      <ion-nav-buttons>
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
    </ion-nav-buttons>
    <ion-content scroll="false" class="center">
        <div class="list">
            <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="email">
            </label>
            <label class="item item-input"> 
            <span class="input-label">Password</span>
            <input type="password" ng-model="password" ng-minlength="3">
            </label>
            <div>
                <button ng-disabled="!email || !password" class="button button-block button-assertive">Sign In</button>
            </div>
        </div>
    </ion-content>
</ion-view>