<ion-view view-title="Form">
    <ion-content padding="true">
      <ion-list>
        <div class="list list-inset row">
          <div class="col col-33">Specie:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Altezza:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Diametro:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Ph:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Temperatura:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Umidit&agrave:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Humus:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
      </br>
        <div class="list list-inset row">
          <div class="col col-33">Lettiera:</div>
          <label class="item item-input col col-67">
            <input type="text">
          </label>
        </div>
        <button class="button button-block button-positive">
          Block Button
        </button>
      </ion-list>
    </ion-content>
  </ion-view>